@font-face {
   font-family: "Cicle";
   src: url('../fonts/Cicle_Fina.ttf');
   font-weight: normal;
   font-style: normal;
}

@font-face {
    font-family: "Cicle";
    src: url('../fonts/Cicle_Fina_Italic.ttf');
    font-weight: italic;
    font-style: italic;
}

@font-face {
   font-family: "Caviar Dreams";
   src: url('../fonts/CaviarDreams.ttf');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "Norwester";
   src: url('../fonts/norwester.otf');
   font-weight: normal;
   font-style: normal;
}