@font-face {
   font-family: "Cicle";
   src: url('../fonts/Cicle_Fina.ttf');
   font-weight: normal;
   font-style: normal;
}

@font-face {
    font-family: "Cicle";
    src: url('../fonts/Cicle_Fina_Italic.ttf');
    font-weight: italic;
    font-style: italic;
}

@font-face {
    font-family: "Cicle";
    src: url('../fonts/Cicle_Gordita.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
   font-family: "Variane Script";
   src: url('../fonts/VarianeScript.ttf');
   font-weight: normal;
   font-style: normal;
}


@font-face {
   font-family: "League Gothic";
   src: url('../fonts/LeagueGothic-Regular.otf');
   font-weight: normal;
   font-style: normal;
}
