@import "../css/global.css";

#project-info {
	margin-top: 2%;
	margin-bottom: 3.5%;
}

.project-box {
	margin-top: 1%;
	margin-bottom: 1%;
}

.project-label {
	font-family: "League Gothic";
}

.project-name {
	font-size: 2.5vw;
}

.subheader {
	font-size: 1.5vw;
}

.description {
	font-size: 1vw;
}
	.desc-label {
		color: #E84343;
		font-weight: bold;
	}