@import "fonts.css";

body {
	background-color:#f7f5f3;
	margin: 0 20% 0 20%
}

#back-button {
	text-align: center;
	font-family: "Variane Script";
	font-size: 250%;
	margin: 3% 0 0 0;
}

img {
	width:100%;
	height:auto;
}

.col-xs-6, .col-xs-12 {
	padding: 0;
	margin: 0;
}

.photo-row {
	margin-bottom: 1.5%
}

.left {
	padding-right: 0.5%;
}

.right {
	padding-left: 0.5%;
}

footer {
    font-size: 100%;
    text-align: center;
    color: gray;
    padding-top: 4%;
    padding-bottom: 2%;
}

a, a:hover {
  color:#E84343;
  cursor:pointer;
}
