html {
	border-top: 9px solid #E84343;
}

body {
	color: #4F4E4C;
	font-family: "Cicle";
	font-size: 16px;
}

#name {
	font-family: "Pacifico";
	font-size: 65px;
	text-align: center;
	color: #E84343;
	margin-top: 2.5%;
	margin-bottom: 1.3%;
}
	#name a:hover {
		text-decoration: none;
	}

#tabs-container {
	font-family: "Bebas Neue";
	font-size: 21px;
	text-align: center;
	color: #E84343;
}

#tabs {
	border-top: 6px double #E84343;
	padding-top: 1%;
}

#home-content {
	margin-top: 3.2%;
	margin-bottom: 3.2%;
	padding: 0 5% 0 5%;
	font-size: 16px;
}

a {
	color: #E84343;
}
	a:hover {
		color: inherit;
	}

footer {
	color: #E84343;
	text-align: center;
	font-size: 13px;
	font-family: "Caviar Dreams";
	margin-bottom: 2.5%;
}

#externals {
	margin-bottom: 1%;
}
