body {
	display: none;
	color: #4F4E4C;
	font-family: "Pacifico";
	font-size: 2.1vw;
}

a {
	color: inherit;
}
	a:hover {
		color:inherit;
	}

#contact-info{
	margin-top: 20%;
	text-align: center;
}

#email {
	font-family: "League Gothic";
	color: #E84343;
}
	#email:hover {
		cursor: pointer;
	}

#back {
	font-size: 0.6em;
}
	#back:hover {
		cursor: pointer;
	}