@import "../css/global.css";

#home-content {
	margin-top: 2%;
	margin-bottom: 2%;
	padding: 0 8% 0 8%;
	font-size: 1.2vw;
}

.toggler {
	color: #E84343;
}
	.toggler:hover {
		text-decoration: underline;
		cursor: pointer;
	}

#about-me {
	display: none;
}

#prof-pic {
	width: 100%;
	height: auto;
}

#less-container {
	text-align: center;
}
