@import "../css/global.css";

#writings {
	margin-top: 2%;
	margin-bottom: 3.5%;
}

.writing-box{
	margin-top: 1%;
	margin-bottom: 1%;
}

.labels{
	font-family: "League Gothic";
}

.category {
	font-size: 2.5vw;
}

.subheader{
	font-size: 1.5vw;
}

.title{
	font-weight: bold;
	font-size: 1.4vw;
}

.extra-info {
	margin-top: 2%;
	font-size: 0.9vw;
}


