@import "../css/body.css";

.writing-box{
	padding-bottom: 3%
}

.labels{
	font-size: 35px;
	color: #5F9C99;
}

.subheader{
	font-size: 19px;
	color: white;
}

.title{
	font-size: 21px;
}
	.title:hover{
		color: #866FA3;
	}


